* {
    font-family: "Roboto", "Arial", sans-serif;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

:root {
    --main-bg-red: #E71D36;
    --main-bg-yellow: #fed99b5e;
    --main-bg-white: #FDFFFC;
    --main-text-blue: #2EC4B6;
    --main-text-black: #191B1F;
}

::-webkit-scrollbar {
    z-index: 15;
    width: 16px
}
::-webkit-scrollbar-track {
    background: var(--main-bg-white)
}
::-webkit-scrollbar-thumb {
    background: var(--main-bg-yellow);
    border: 4px solid var(--main-bg-white)
}
::-webkit-scrollbar-thumb:hover {
    background: #feda9b;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--main-bg-white);
    color: var(--main-text-black);
}

.back {
    position: absolute;
    z-index: 40;
    width: 70px;
    margin-top: 15px;
    margin-left: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.real-page {
    display: none;
}

.real-page * {
    opacity: 0;
}

.loading-page {
    width: 100%;
    height: 100%;
    overflow: hidden!important;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--main-bg-white);
}

.loading-page .alert {
    position: absolute;
    top: 35px;
}

.loading-page p {
    position: absolute;
    margin-top: 10rem;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.loading-page .loader-block {
    animation: spin 3s linear infinite;
}

.loading-page .loader-block .loader {
    width: 14px;
    height: 14px;
    transform: rotate(75deg);
}

.loading-page .loader-block .loader::before, .loading-page .loader-block .loader::after {
    content: "";
    height: 38px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
}

.loading-page .loader-block .loader::before {
    box-shadow: 18px 18px var(--main-bg-yellow), -18px -18px var(--main-text-blue);
}

.loading-page .loader-block .loader::after {
    box-shadow: 18px 18px var(--main-bg-red), -18px -18px var(--main-text-black);
    transform: translate(-50%, -50%) rotate(90deg);
}